<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oracle-EnSecAcctEntDelMapper">
	<resultMap id="EnSecAcctEntDel_Result" type="com.dhcc.xml.ent.entity.guarantee.EnSecAcctEntDel">
		<result column="InfRecType" property="InfRecType" />
		<result column="DelRecCode" property="DelRecCode" />
	</resultMap>

	<sql id="Eb_AcctAllDlt_Info_Columns444">
		<![CDATA[
			InfRecType, 
			DelRecCode
		]]>
	</sql>
	<!-- 机构关联限制 -->
	<sql id="Eb_AcctAllDlt_info_select_where444">
		<if test="br_no !=''">
			and	EXISTS (SELECT 1 FROM S_ORG_INFO S WHERE T1.BR_NO=S.BR_NO START WITH S.BR_NO=#{br_no} CONNECT BY PRIOR S.BR_NO = S.UP_ONE)
		</if>
		<if test="tx_date !=''">
			and T1.TX_DATE = #{tx_date,jdbcType=VARCHAR}
		</if>

		<if test="record_id !='' and record_id !=null">
			and T1.record_id = #{record_id,jdbcType=VARCHAR}
		</if>
		<if test="record_id ==null">
			and T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1'
		</if>
		<if test="_fromNumber != null and _toNumber !=null">
			and T1.PAGENUMBER  <![CDATA[ < ]]> #{_toNumber} AND T1.PAGENUMBER  <![CDATA[ >= ]]> #{_fromNumber}
		</if>
	</sql>
	<!-- 读取数据 -->
	<select id="EnSecAcctEntDelJob_selectAllInfo" resultMap="EnSecAcctEntDel_Result">
		SELECT <include refid="Eb_AcctAllDlt_Info_Columns444" /> FROM EB_ACCTALLDLT_INFO T1 
		WHERE T1.INFRECTYPE = '444'
		<include refid="Eb_AcctAllDlt_info_select_where444"/>
	</select>
	
	<!-- 更新需要生成报文的数据项 -->
	<update id="EnSecAcctEntDelJob_updatePageNumber">
		UPDATE EB_ACCTALLDLT_INFO T1 SET T1.PAGENUMBER = ROWNUM WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '444'
		<include refid="Eb_AcctAllDlt_info_select_where444" />
	</update>
	
	<!-- 获取最大的待生成报文的条数 -->
	<select id="EnSecAcctEntDelJob_getMaxPageNumber" resultType="String">
		SELECT MAX(T1.PAGENUMBER) FROM EB_ACCTALLDLT_INFO T1 WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '444'
		<include refid="Eb_AcctAllDlt_info_select_where444" />
	</select>

	<!-- 批量校验回刷校验状态-->
	<update id="EnSecAcctEntDelJob_updateCheckSts">
		UPDATE EB_ACCTALLDLT_INFO T1
		SET T1.CHECK_STS = '1'
		WHERE T1.RPT_TYPE = '1'
		AND T1.INFRECTYPE = '444'
		<include refid="Eb_AcctAllDlt_info_select_where444" />
	</update>
	<delete id="EnSecAcctEntDelJob_dleError">
		DELETE V_ERROR_INFO B
		WHERE EXISTS (SELECT 1
		FROM EB_ACCTALLDLT_INFO T1
		WHERE B.RECORD_ID = T1.RECORD_ID
		AND T1.RPT_TYPE = '1' AND T1.INFRECTYPE = '444'
		<include refid="Eb_AcctAllDlt_info_select_where444" />
		)
	</delete>

</mapper>