<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oracle-EnCtrctInfMapper">
	<resultMap id="Eb_CorpCtr_Info_Result420" type="com.dhcc.xml.ent.entity.credit.db.Eb_CorpCtr_Info" >
		<result column="Record_Id" property="Record_Id" />
		<result column="InfRecType" property="InfRecType" />
		<result column="ContractCode" property="ContractCode" />
		<result column="RptDate" property="RptDate" />
		<result column="RptDateCode" property="RptDateCode" />
		<result column="Name" property="Name" />
		<result column="IDType" property="IDType" />
		<result column="IDNum" property="IDNum" />
		<result column="MngmtOrgCode" property="MngmtOrgCode" />
		<result column="CreditLimType" property="CreditLimType" />
		<result column="LimLoopFlg" property="LimLoopFlg" />
		<result column="CreditLim" property="CreditLim" />
		<result column="Cy" property="Cy" />
		<result column="ConEffDate" property="ConEffDate" />
		<result column="ConExpDate" property="ConExpDate" />
		<result column="ConStatus" property="ConStatus" />
		<result column="CreditRest" property="CreditRest" />
		<result column="CreditRestCode" property="CreditRestCode" />
		
		<result column="CORPCTRREL_FLAG" property="CORPCTRREL_FLAG" />
		<result column="CORPCTRLIM_FLAG" property="CORPCTRLIM_FLAG" />

		<collection property="Eb_CorpCtrRel_Info_List" resultMap="Eb_CorpCtrRel_Info_Result420"></collection>
	</resultMap>

	<resultMap id="Eb_CorpCtrRel_Info_Result420" type="com.dhcc.xml.ent.entity.credit.db.Eb_CorpCtrRel_Info">
		<result column="BrerType" property="BrerType" />
		<result column="CertRelName" property="CertRelName" />
		<result column="CertRelIDType" property="CertRelIDType" />
		<result column="CertRelIDNum" property="CertRelIDNum" />
	</resultMap>

	<!-- 机构关联限制 -->
	<sql id="Eb_CorpCtr_info_select_where420">
		<if test="br_no !=''">
			AND	EXISTS (SELECT 1 FROM S_ORG_INFO S WHERE T1.BR_NO=S.BR_NO START WITH S.BR_NO=#{br_no} CONNECT BY PRIOR S.BR_NO = S.UP_ONE)
		</if>
		<if test="tx_date !='' and tx_date!=null">
			AND T1.TX_DATE = #{tx_date,jdbcType=VARCHAR}
		</if>

		<if test="record_id !='' and record_id !=null">
			AND T1.record_id = #{record_id,jdbcType=VARCHAR}
		</if>

		<if test="record_id ='' or record_id=null">
			AND T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1'
		</if>

		<if test="_fromNumber != null and _toNumber !=null">
			AND T1.PAGENUMBER  <![CDATA[ < ]]> #{_toNumber} AND T1.PAGENUMBER  <![CDATA[ >= ]]> #{_fromNumber}
		</if>
	</sql>

	<sql id="Eb_CorpCtr_Info_Columns">
	    <![CDATA[
	    	 T1.Record_Id,
	         T1.InfRecType, 
	         T1.ContractCode, 
	         T1.RptDate, 
	         T1.RptDateCode,
   			 T1.Name, 
   			 T1.IDType, 
   			 T1.IDNum, 
   			 T1.MngmtOrgCode,
   			 T1.CreditLimType, 
   			 T1.LimLoopFlg, 
   			 ROUND(T1.CreditLim) AS CreditLim, 
   			 T1.Cy,
		     T1.ConEffDate, 
		     T1.ConExpDate, 
		     T1.ConStatus,
		     ROUND(T1.CreditRest) AS CreditRest,
		     T1.CreditRestCode,
		     T1.CORPCTRREL_FLAG,
   			 T1.CORPCTRLIM_FLAG,
			 T2.BrerType, 
			 T2.CertRelName, 
			 T2.CertRelIDType, 
			 T2.CertRelIDNum
		]]>
	</sql>

	<select id="EnCtrctInfJob_selectAllInfo" resultMap="Eb_CorpCtr_Info_Result420">
		SELECT <include refid="Eb_CorpCtr_Info_Columns" /> FROM EB_CORPCTR_INFO T1 
		LEFT JOIN EB_CORPCTRREL_INFO T2 ON (T1.RECORD_ID = T2.MAIN_ID AND T1.CORPCTRREL_FLAG = '1')
		WHERE T1.INFRECTYPE = '420'
		<include refid="Eb_CorpCtr_info_select_where420" />
	</select>
	
	<!-- 更新需要生成报文的数据项 -->
	<update id="EnCtrctInfJob_updatePageNumber">
		UPDATE EB_CORPCTR_INFO T1 SET T1.PAGENUMBER = ROWNUM WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '420'
		<include refid="Eb_CorpCtr_info_select_where420" />
	</update>
	
	<!-- 获取最大的待生成报文的条数 -->
	<select id="EnCtrctInfJob_getMaxPageNumber" resultType="String">
		SELECT MAX(T1.PAGENUMBER) FROM EB_CORPCTR_INFO T1 WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '420'
		<include refid="Eb_CorpCtr_info_select_where420" />
	</select>

	<!-- 批量校验回刷校验状态-->
	<update id="EnCtrctInfJob_updateCheckSts">
		UPDATE EB_CORPCTR_INFO T1
		SET T1.CHECK_STS = '1'
		WHERE T1.RPT_TYPE = '1'
		AND T1.INFRECTYPE = '420'
		<include refid="Eb_CorpCtr_info_select_where420" />
	</update>
	<delete id="EnCtrctInfJob_dleError">
		DELETE V_ERROR_INFO B
		WHERE EXISTS (SELECT 1
		FROM EB_CORPCTR_INFO T1
		WHERE B.RECORD_ID = T1.RECORD_ID
		AND T1.RPT_TYPE = '1' AND T1.INFRECTYPE = '420'
		<include refid="Eb_CorpCtr_info_select_where420" />
		)
	</delete>

</mapper>
