<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oracle-InBsInfDltMapper">
	<resultMap id="InBsInfDlt_Result" type="com.dhcc.xml.per.entity.baseinfo.InBsInfDlt">
		<result column="InfRecType" property="InfRecType" />
		<result column="Name" property="Name" />
		<result column="IDType" property="IDType" />
		<result column="IDNum" property="IDNum" />
		<result column="InfSurcCode" property="InfSurcCode" />
	</resultMap>
	
	<sql id="Pb_CustDlt_Info_Columns114">
		<![CDATA[
			InfRecType, 
			Name, 
			IDType, 
			IDNum, 
			InfSurcCode
		]]>
	</sql>

	<!-- 机构关联限制 -->
	<sql id="Pb_CustDlt_info_select_where114">
		<if test="br_no !=''">
			and	EXISTS (SELECT 1 FROM S_ORG_INFO S WHERE T1.BR_NO=S.BR_NO START WITH BR_NO=#{br_no} CONNECT BY PRIOR BR_NO=UP_ONE)
		</if>
		<if test="tx_date !=''">
			and T1.TX_DATE = #{tx_date,jdbcType=VARCHAR}
		</if>

		<if test="record_id !='' and record_id !=null">
			and T1.record_id = #{record_id,jdbcType=VARCHAR}
		</if>
		<if test="record_id ==null">
			and T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1'
		</if>
		<if test="_fromNumber != null and _toNumber !=null">
			and T1.PAGENUMBER  <![CDATA[ < ]]> #{_toNumber} AND T1.PAGENUMBER  <![CDATA[ >= ]]> #{_fromNumber}
		</if>
	</sql>
	
	<!-- 读取数据 -->
	<select id="InBasInfDltJob_selectAllInfo" resultMap="InBsInfDlt_Result">
		SELECT <include refid="Pb_CustDlt_Info_Columns114" /> FROM PB_CUSTDLT_INFO T1 
		WHERE T1.INFRECTYPE = '114'
		<include refid="Pb_CustDlt_info_select_where114" />
	</select>
	
	<!-- 更新需要生成报文的数据项 -->
	<update id="InBasInfDltJob_updatePageNumber">
		UPDATE PB_CUSTDLT_INFO T1 SET T1.PAGENUMBER = ROWNUM WHERE T1.RPT_TYPE = '1' AND  T1.CHECK_STS = '1' AND T1.INFRECTYPE = '114'
		<include refid="Pb_CustDlt_info_select_where114" />
	</update>
	
	<!-- 获取最大的待生成报文的条数 -->
	<select id="InBasInfDltJob_getMaxPageNumber" resultType="String">
		SELECT MAX(T1.PAGENUMBER) FROM PB_CUSTDLT_INFO T1 WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '114'
		<include refid="Pb_CustDlt_info_select_where114" />
	</select>

	<!-- 批量校验回刷校验状态-->
	<update id="InBasInfDltJob_updateCheckSts">
		UPDATE PB_CUSTDLT_INFO T1 SET T1.CHECK_STS = '1'
		WHERE T1.RPT_TYPE = '1' AND T1.INFRECTYPE = '114'
		<include refid="Pb_CustDlt_info_select_where114"/>
	</update>
	<delete id="InBasInfDltJob_dleError">
		DELETE V_ERROR_INFO B
		WHERE EXISTS (SELECT  1
		FROM PB_CUSTDLT_INFO T1
		WHERE B.RECORD_ID = T1.RECORD_ID
		AND T1.RPT_TYPE = '1' AND T1.INFRECTYPE = '114'
		<include refid="Pb_CustDlt_info_select_where114"/>
		)
	</delete>

</mapper>