<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oracle-EnAcctInfMdfcMapper">
	<resultMap id="Eb_AcctMdf_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_AcctMdf_Info">
		<result column="Record_Id" property="Record_Id"/>
		<result column="InfRecType" property="InfRecType"/>
		<result column="ModRecCode" property="ModRecCode"/>
		<result column="RptDate" property="RptDate"/>
		<result column="AcctType" property="AcctType"/>
		<result column="MdfcSgmtCode" property="MdfcSgmtCode"/>

		<collection property="Eb_CorpAcct_Info" resultMap="Eb_CorpAcct_Info_Result412"></collection>
		<collection property="Eb_CorpAccRlt_Info_List" resultMap="Eb_CorpAccRlt_Info_Result412"></collection>
		<collection property="Eb_CorpAccRetu_Info" resultMap="Eb_CorpAccRetu_Info_Result412"></collection>
		<collection property="Eb_CorpAccSpec_Info_List" resultMap="Eb_CorpAccSpec_Info_Result412"></collection>
		<collection property="Eb_Guacct_Info_List" resultMap="Eb_Guacct_Info_Result412"></collection>
	</resultMap>

	<resultMap id="Eb_CorpAcct_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_CorpAcct_Info">
		<result column="InfRecType" property="InfRecType"/>
		<result column="AcctType" property="AcctType"/>
		<result column="AcctCode" property="AcctCode"/>
		<result column="RptDate" property="RptDate"/>
		<result column="RptDateCode" property="RptDateCode"/>
		<result column="Name" property="Name"/>
		<result column="IDType" property="IDType"/>
		<result column="IDNum" property="IDNum"/>
		<result column="MngmtOrgCode" property="MngmtOrgCode"/>
		<result column="BusiLines" property="BusiLines"/>
		<result column="BusiDtlLines" property="BusiDtlLines"/>
		<result column="OpenDate" property="OpenDate"/>
		<result column="Cy" property="Cy"/>
		<result column="AcctCredLine" property="AcctCredLine"/>
		<result column="LoanAmt" property="LoanAmt"/>
		<result column="Flag" property="Flag"/>
		<result column="DueDate" property="DueDate"/>
		<result column="RepayMode" property="RepayMode"/>
		<result column="RepayFreqcy" property="RepayFreqcy"/>
		<result column="ApplyBusiDist" property="ApplyBusiDist"/>
		<result column="GuarMode" property="GuarMode"/>
		<result column="OthRepyGuarWay" property="OthRepyGuarWay"/>
		<result column="LoanTimeLimCat" property="LoanTimeLimCat"/>
		<result column="LoaFrm" property="LoaFrm"/>
		<result column="ActInvest" property="ActInvest"/>
		<result column="FundSou" property="FundSou"/>
		<result column="AssetTrandFlag" property="AssetTrandFlag"/>
		<result column="Mcc" property="Mcc"/>
		<result column="InitCredName" property="InitCredName"/>
		<result column="InitCedOrgCode" property="InitCedOrgCode"/>
		<result column="OrigDbtCate" property="OrigDbtCate"/>
		<result column="InitRpySts" property="InitRpySts"/>
	</resultMap>

	<resultMap id="Eb_CorpAccRlt_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_CorpAccRlt_Info">
		<result column="AcctCode" property="AcctCode"/>
		<result column="ArlpIDType" property="ArlpIDType"/>
		<result column="ArlpName" property="ArlpName"/>
		<result column="ArlpCertType" property="ArlpCertType"/>
		<result column="ArlpCertNum" property="ArlpCertNum"/>
		<result column="ArlpType" property="ArlpType"/>
		<result column="ArlpAmt" property="ArlpAmt"/>
		<result column="WartySign" property="WartySign"/>
		<result column="MaxGuarMcc" property="MaxGuarMcc"/>
	</resultMap>

	<resultMap id="Eb_CorpAccRetu_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_CorpAccRetu_Info">
		<result column="AcctStatus" property="AcctStatus"/>
		<result column="AcctBal" property="AcctBal"/>
		<result column="BalChgDate" property="BalChgDate"/>
		<result column="FiveCate" property="FiveCate"/>
		<result column="FiveCateAdjDate" property="FiveCateAdjDate"/>
		<result column="PymtPrd" property="PymtPrd"/>
		<result column="TotOverd" property="TotOverd"/>
		<result column="AcctCode" property="AcctCode"/>
		<result column="OverdPrinc" property="OverdPrinc"/>
		<result column="OverdDy" property="OverdDy"/>
		<result column="LatRpyDate" property="LatRpyDate"/>
		<result column="LatRpyAmt" property="LatRpyAmt"/>
		<result column="LatRpyPrincAmt" property="LatRpyPrincAmt"/>
		<result column="RpmtType" property="RpmtType"/>
		<result column="LatAgrrRpyDate" property="LatAgrrRpyDate"/>
		<result column="LatAgrrRpyAmt" property="LatAgrrRpyAmt"/>
		<result column="NxtAgrrRpyDate" property="NxtAgrrRpyDate"/>
		<result column="CloseDate" property="CloseDate"/>
	</resultMap>

	<resultMap id="Eb_CorpAccSpec_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_CorpAccSpec_Info">
		<result column="AcctCode" property="AcctCode"/>
		<result column="ChanTranType" property="ChanTranType"/>
		<result column="TranDate" property="TranDate"/>
		<result column="TranAmt" property="TranAmt"/>
		<result column="DueTranMon" property="DueTranMon"/>
		<result column="DetInfo" property="DetInfo"/>
	</resultMap>
	
	<resultMap id="Eb_Guacct_Info_Result412" type="com.dhcc.xml.ent.entity.loaninfo.db.Eb_Guacct_Info">
		<result column="CcCode" property="CcCode"/>
	</resultMap>

	<sql id="Eb_AcctMdf_Info_Columns412">
	    <![CDATA[
	    	T1.Record_Id,
		   	T1.InfRecType,
		   	T1.ModRecCode,
		   	T1.RptDate,
		   	T1.AcctType,
		   	T1.MdfcSgmtCode,
			T2.InfRecType,
			T2.AcctType,
			T2.AcctCode,
			T2.RptDate,
			T2.RptDateCode,
			T2.Name,
			T2.IDType,
			T2.IDNum,
			T2.MngmtOrgCode,
			T2.BusiLines,
			T2.BusiDtlLines,
			T2.OpenDate,
			T2.Cy,
			ROUND(T2.AcctCredLine) AS AcctCredLine,
			ROUND(T2.LoanAmt) AS LoanAmt,
			T2.Flag,
			T2.DueDate,
			T2.RepayMode,
			T2.RepayFreqcy,
			T2.ApplyBusiDist,
			T2.GuarMode,
			T2.OthRepyGuarWay,
			T2.LoanTimeLimCat,
			T2.LoaFrm,
			T2.ActInvest,
			T2.FundSou,
			T2.AssetTrandFlag,
			T2.Mcc,
			T2.InitCredName,
			T2.InitCedOrgCode,
			T2.OrigDbtCate,
			T2.InitRpySts,
			T3.ArlpIDType, 
			T3.ArlpName,
			T3.ArlpCertType, 
			T3.ArlpCertNum,
			T3.ArlpType, 
			ROUND(T3.ArlpAmt) AS ArlpAmt, 
			T3.WartySign,
			T3.MaxGuarMcc,
			T4.AcctStatus, 
			ROUND(T4.AcctBal) AS AcctBal, 
			T4.BalChgDate, 
			T4.FiveCate, 
			T4.FiveCateAdjDate, 
			T4.PymtPrd, 
			ROUND(T4.TotOverd) AS TotOverd,
			ROUND(T4.OverdPrinc) AS OverdPrinc, 
			T4.OverdDy, 
			T4.LatRpyDate, 
			ROUND(T4.LatRpyAmt) AS LatRpyAmt, 
			ROUND(T4.LatRpyPrincAmt) AS LatRpyPrincAmt,
			T4.RpmtType, 
			T4.LatAgrrRpyDate,
			ROUND(T4.LatAgrrRpyAmt) AS LatAgrrRpyAmt,
			T4.NxtAgrrRpyDate, 
			T4.CloseDate,
			T5.AcctCode,
			T5.ChanTranType, 
			T5.TranDate, 
			ROUND(T5.TranAmt) AS TranAmt, 
			T5.DueTranMon,
			T5.DetInfo,
			T6.CcCode
		]]>
	</sql>
	
	<!-- 机构关联限制 -->
	<sql id="Eb_AcctMdf_info_select_where412">
		<if test="br_no !=''">
			and	EXISTS (SELECT 1 FROM S_ORG_INFO S WHERE T1.BR_NO=S.BR_NO START WITH S.BR_NO=#{br_no} CONNECT BY PRIOR S.BR_NO = S.UP_ONE)
		</if>
		<if test="tx_date !=''">
			and T1.TX_DATE = #{tx_date,jdbcType=VARCHAR}
		</if>

		<if test="record_id !='' and record_id !=null">
			and T1.record_id = #{record_id,jdbcType=VARCHAR}
		</if>
		<if test="record_id ==null">
			and T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1'
		</if>
		<if test="_fromNumber != null and _toNumber !=null">
			and T1.PAGENUMBER  <![CDATA[ < ]]> #{_toNumber} AND T1.PAGENUMBER  <![CDATA[ >= ]]> #{_fromNumber}
		</if>
	</sql>
	<select id="EnAcctInfMdfcJob_selectAllInfo" resultMap="Eb_AcctMdf_Info_Result412">
		SELECT <include refid="Eb_AcctMdf_Info_Columns412" /> FROM EB_ACCTMDF_INFO T1 
			LEFT JOIN EM_CORPACCT_INFO T2 ON (T1.MODRECCODE = T2.RECORD_ID AND T1.MDFCSGMTCODE IN('B','C','F','G'))
			LEFT JOIN EM_CORPACCRLT_INFO T3 ON (T1.MODRECCODE = T3.MAIN_ID AND T1.MDFCSGMTCODE = 'D') 
			LEFT JOIN EM_CORPACCRETU_INFO T4 ON (T1.MODRECCODE = T4.MAIN_ID AND T1.MDFCSGMTCODE = 'H') 
			LEFT JOIN EM_CORPACCSPEC_INFO T5 ON (T1.MODRECCODE = T5.MAIN_ID AND T1.MDFCSGMTCODE = 'I')
			LEFT JOIN EM_GUACCT_INFO T6 ON (T1.MODRECCODE = T6.MAIN_ID AND T1.MDFCSGMTCODE = 'E')
			WHERE T1.INFRECTYPE = '412'
			<include refid="Eb_AcctMdf_info_select_where412"/>
	</select>
	<!-- 更新需要生成报文的数据项 -->
	<update id="EnAcctInfMdfcJob_updatePageNumber">
		UPDATE EB_ACCTMDF_INFO T1 SET T1.PAGENUMBER = ROWNUM WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '412'
		<include refid="Eb_AcctMdf_info_select_where412" />
	</update>
	
	<!-- 获取最大的待生成报文的条数 -->
	<select id="EnAcctInfMdfcJob_getMaxPageNumber" resultType="String">
		SELECT MAX(T1.PAGENUMBER) FROM EB_ACCTMDF_INFO T1 WHERE T1.RPT_TYPE = '1' AND T1.CHECK_STS = '1' AND T1.INFRECTYPE = '412'
		<include refid="Eb_AcctMdf_info_select_where412" />
	</select>

	<!-- 批量校验回刷校验状态-->
	<update id="EnAcctInfMdfcJob_updateCheckSts">
		UPDATE EB_ACCTMDF_INFO T1
		SET T1.CHECK_STS = '1'
		WHERE T1.RPT_TYPE = '1'
		AND T1.INFRECTYPE = '412'
		<include refid="Eb_AcctMdf_info_select_where412" />
	</update>
	<delete id="EnAcctInfMdfcJob_dleError">
		DELETE V_ERROR_INFO B
		WHERE EXISTS (SELECT 1
		FROM EB_ACCTMDF_INFO T1
		WHERE B.RECORD_ID = T1.RECORD_ID
		AND T1.RPT_TYPE = '1' AND T1.INFRECTYPE = '412'
		<include refid="Eb_AcctMdf_info_select_where412" />
		)
	</delete>

</mapper>